.Options {
  display: grid;
  grid:
  '. . .'
  '. . .';
  grid-gap: 10px;
}

.OptionsLabel {
  column-width: 100%;
  text-align: left;
  font-size: 20px;
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.Options input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
.Options input[type="submit"] {
  padding: 5px;
  margin: 5px 10px 5px 0;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  font-size: 20px;
}

.Options input[type="submit"]:hover {
  background-color: royalblue;
}
