.App {
  text-align: left;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2vmin;
}

.Equation > div {
  padding: 10px;
}

.EquationLabel {
  font-weight: bold;
  font-size: large;
}

.OptionsLabel {
  padding: 10px;
}

.github-btn {
  font-size: 28px;
  bottom: 0;
}
